<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>blogs page</title>
</head>

<body>
        <h2> Poetry: {{ blogs_lst.0.title }} </h2>
        <p1> Written by {{ blogs_lst.0.author }}, text : " {{ blogs_lst.0.text }} " </p1>    
    
    
        <h2> Poetry: {{ blogs_lst.1.title }} </h2>
        <p1> Written by {{ blogs_lst.1.author }}, text : " {{ blogs_lst.1.text }} " </p1>

        <h2> Poetry: {{ blogs_lst.2.title }} </h2>
        <p1> Written by {{ blogs_lst.2.author }}, text : " {{ blogs_lst.2.text }} " </p1>

        <h2> Poetry: {{ blogs_lst.3.title }} </h2>
        <p1> Written by {{ blogs_lst.3.author }}, text : " {{ blogs_lst.3.text }} " </p1>

</body>

</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <title>blogs page</title>
</head>

<body>
    {% for blog in blogs_lst %}
        <h2> {{ blog.title }} </h2>
        <p> Written by {{ blog.author }}, text: "{{ blog.text }}" </p>
    {% endfor %}
</body>

</html>
